.loader__wrapper {
  width: 100%;
  max-width: 600px;
  display: flex;
  text-align: center;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #801ab3 transparent #4c4cff transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
