.wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.menu__window {
  max-height: 912px;
  overflow: hidden;
  overflow-y: scroll;
}

.menu__window::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.menu__window::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
